<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TOP</title>
<link href="/css/sampleCss.css" th:href="@{/css/login.css}"rel="stylesheet"></link>
<link href="/css/sampleCss.css" th:href="@{/css/header.css}"rel="stylesheet"></link>
<link href="/css/sampleCss.css" th:href="@{/css/main.css}"rel="stylesheet"></link>
</head>
<body>
	<div th:replace="~{block/header::headerA}"></div>
	<div class="top-wrapper">
		<div class="container">
			<div class="btn-wrapper">
				<form th:if="${user_id} == 0" th:action="@{/login}"
					th:object="${loginForm}">
					<div class="text">
						<h2>ユーザーネーム</h2>
						<div th:if="${#fields.hasErrors('user_name')}"th:errors="*{user_name}" style="color: red;">
					</div>
						<input type="text" name="user_name" style="width: 300px;">
					</div>
					<div class="text">
						<h2>パスワード</h2>
						<div th:if="${#fields.hasErrors('password')}"th:errors="*{password}" style="color: red;">
					</div>
						<input type="text" name="password" style="width: 300px;">
					</div>
					<br>
					<a>
					      <input type="submit" value="ログイン"class="btn signin" >
				   </a>
					<div th:if="${message != null} " th:text="${message}"style="color: red;"></div>
				</form>

			</div>
		</div>
	</div>
	<div class="main posts-index">
		<div class="maincontainer" th:each="list : ${contentList}">
			<div class="posts-index-item">
				<p th:text="${list.message}"></p>
				<p th:text="${list.created_at}"></p>
			</div>
		</div>
	</div>

</body>
</html>